/* colors */
/* borders */
/* background */
.panel-heading {
  height: auto;
  position: relative;
}

.panel-heading form {
  padding: 0 15px;
}

.panel-heading form input {
  height: 70px;
  border: 0;
  outline: 0;
  font-size: 14px;
  color: #000000;
}

.panel-heading form button {
  background: #265397;
  color: #ffffff;
  border: 0;
  height: 70px;
  line-height: 70px;
  font-size: 17px;
}

.panel-heading form button span {
  vertical-align: middle;
  display: inline-block;
}

.panel-heading .infos {
  font-size: 15px;
  margin-top: 20px;
}

.panel-heading .infos a {
  color: #ffffff;
}

/*# sourceMappingURL=../maps/404.css.map */
