#logo {
	display: block;
	margin: 10px 0 0;
}

.panel {
	margin-bottom: 0;
}

.panel .panel-heading {
    margin-top: 0px;
}

/* colors */
/* borders */
/* background */
.actions {
  text-align: center;
  margin-top: 50px;
}

.actions i.fa {
  font-size: 20px;
  margin-right: 5px;
}

.actions span, .actions i.fa {
  display: inline-block;
  vertical-align: middle;
}

body > .wrapper,
body > .wrapper > .background-motif {height: 100%;}

/*# sourceMappingURL=../maps/authentification.css.map */
