/* colors */
/* borders */
/* background */
.slider .swiper-container {
  height: 380px;
}

.slider .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  border-radius: 0;
  background: #a9adaf;
  opacity: 1;
}

.slider .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #00acea;
}

.not-found {
  padding: 35px 50px;
  min-height: 240px;
  margin-top: 25px;
  position: relative;
  -moz-box-shadow: inset -3px -3px 0px 0px #d7d7d7;
  -webkit-box-shadow: inset -3px -3px 0px 0px #d7d7d7;
  -o-box-shadow: inset -3px -3px 0px 0px #d7d7d7;
  box-shadow: inset -3px -3px 0px 0px #d7d7d7;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=$color, Direction=135, Strength=5);
}

@media (min-width: 992px) {
  .not-found {
    width: 49%;
    float: left;
    margin-left: 2%;
    margin-top: 0;
  }
}

.not-found .background {
  display: none;
  transform: skewX(-7deg);
  width: 93%;
  margin-left: 3%;
  margin-top: 0.5%;
  height: 96%;
  background: #00a8e7;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  -moz-box-shadow: inset -3px -3px 0px 0px #029bd4;
  -webkit-box-shadow: inset -3px -3px 0px 0px #029bd4;
  -o-box-shadow: inset -3px -3px 0px 0px #029bd4;
  box-shadow: inset -3px -3px 0px 0px #029bd4;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=$color, Direction=135, Strength=5);
}

@media (min-width: 768px) {
  .not-found .background {
    display: block;
  }
}

.not-found .sprite {
  margin-top: 5px;
}

.not-found .title {
  font-size: 35px;
  line-height: 1;
  margin-bottom: 3px;
}

.not-found .sub-title {
  font-size: 17px;
  line-height: 1;
  margin-bottom: 9px;
}

.not-found .content {
  margin-bottom: 15px;
}

.who-we-are {
  padding: 35px 30px;
  min-height: 240px;
  position: relative;
  -moz-box-shadow: inset -3px -3px 0px 0px #d7d7d7;
  -webkit-box-shadow: inset -3px -3px 0px 0px #d7d7d7;
  -o-box-shadow: inset -3px -3px 0px 0px #d7d7d7;
  box-shadow: inset -3px -3px 0px 0px #d7d7d7;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=$color, Direction=135, Strength=5);
}

@media (min-width: 992px) {
  .who-we-are {
    width: 49%;
    float: left;
  }
}

.who-we-are img {
  margin-bottom: 20px;
}

.who-we-are .background {
  display: none;
  transform: skewX(-7deg);
  width: 93%;
  margin-left: 3%;
  margin-top: 0.5%;
  height: 96%;
  background: #2e5699;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  -moz-box-shadow: inset -3px -3px 0px 0px #244c8d;
  -webkit-box-shadow: inset -3px -3px 0px 0px #244c8d;
  -o-box-shadow: inset -3px -3px 0px 0px #244c8d;
  box-shadow: inset -3px -3px 0px 0px #244c8d;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=$color, Direction=135, Strength=5);
}

@media (min-width: 768px) {
  .who-we-are .background {
    display: block;
  }
}

.who-we-are .title {
  font-size: 27px;
  line-height: 1;
  margin-bottom: 3px;
}

.who-we-are .sub-title {
  font-size: 19px;
  line-height: 1;
  margin-bottom: 9px;
}

.who-we-are .content {
  margin-bottom: 15px;
}

/*# sourceMappingURL=../maps/main.css.map */
