/* colors */
/* borders */
/* background */
.search {
  margin-bottom: 0;
  position: relative;
  z-index: 1;
}

.result {
  padding: 20px;
  text-align: center;
  background: #265397;
  margin-top: -3px;
  position: relative;
  z-index: 2;
  border-top: 3px solid rgba(17, 38, 70, 0.4);
}

@media (min-width: 1200px) {
  .result {
    height: 135px;
    line-height: 135px;
    padding: 0;
  }
}

.result span {
  display: inline-block;
  vertical-align: middle;
}

.result span.sprite {
  margin-right: 15px;
}

.result h1 {
  color: white;
  font-size: 25px;
  text-transform: uppercase;
  display: inline-block;
  margin: 0;
}

.in_category {
  background: #f5f5f5;
  padding-top: 0;
}

.in_category h2 {
  margin-top: 0;
  font-size: 24px;
  color: #265397;
}

.in_category ul {
  list-style: none;
}

.in_category ul li a {
  color: #000000;
}

.products {
  margin-top: 20px;
  padding: 0;
}

/*# sourceMappingURL=../maps/search.css.map */
