.sidebar-wrapper .logo {
	background-color: #fff;
}

table tr > th.actions,
table tr > td.actions {
	text-align: right;
}

table tr > td.actions .btn {
	margin-left: 10px;
}

.table-condensed > thead > tr > th, 
.table-condensed > tbody > tr > th, 
.table-condensed > tfoot > tr > th, 
.table-condensed > thead > tr > td, 
.table-condensed > tbody > tr > td, 
.table-condensed > tfoot > tr > td {
	padding: 8px;
}

.main-panel {
	position: fixed !important;
	top: 0;
	bottom: 0;
	right: 0;
}

h4 em {
	font-size: 14px;
}

.card form [class*=col-]:first-child {
	padding: 6px !important;
}
